*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.box1{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
}

.box2{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 0;
    left: 5%;
    margin-left: 1%;
}

.box3{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 0;
    left: 10%;
    margin-left: 2%;
}

.box4{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 10%;
    left: 0%;
    margin-top: 1%;
}

.box5{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 10%;
    left: 5%;
    margin-top: 1%;
    margin-left: 1%;
}

.box6{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 20%;
    left: 0;
    margin-top: 2%;
}

.box7{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 20%;
    right: 0%;
    margin-bottom: 2%;
}

.box8{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 10%;
    right: 0%;
    margin-bottom: 1%;

}

.box9{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 10%;
    right: 5%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.box10{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.box11{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 0%;
    right: 5%;
    margin-right: 1%;
}

.box12{
    width: 5%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 0%;
    right: 10%;
    margin-right: 2%;
    
}